@font-face {
    font-family: 'MuseoUkr';
    src: url('../font/Museo_Cyrillic_500.otf') format("opentype");
    font-weight: 500;
    font-style: normal;
}

* {
	position: relative;
}

.breaker {
	clear: both;
	font-size: 1px;
	line-height: 1px;
	height: 1px;
}

html {
	height: 100%;
	max-width: 100%;
    /* maxvoltar.com/archive/-webkit-font-smoothing */
    -webkit-font-smoothing: antialiased; 
}
pre {
    padding: 15px;
    white-space: pre; /* CSS2 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word; /* IE */
}
/* align checkboxes, radios, text inputs with their label */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }

body {
    height: 100%;
    max-width: 100%;
    background-color: #fff;
    font-family: "Open Sans", sans-serif;
    color:#3c3c3c;    
    font-weight: 400;
    font-size:14px;	
    -webkit-font-smoothing: antialiased !important;
    overflow: hidden;
    overflow-y: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'MuseoUkr','Roboto Slab', sans-serif;
  font-weight:500;
}

.justify-text {
	text-align: justify;
}

.time-mins {
    font-size:60%;
    top:-5pt;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

/*
* print styles
* inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/
*/
@media print {
* { background: transparent !important; color: #444 !important; text-shadow: none; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; }
  abbr:after { content: " (" attr(title) ")"; }    .ir a:after { content: ""; }  /* Don't show links for images */    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }    img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

.slide {
	padding: 100px 0px 0px 0px;
	text-align: center;       
      
	max-width: 100%; position: relative; overflow: hidden !important;
}
@media (min-width: 768px) and (max-width: 1199px) {
    .slide {
        padding-top:80px;
    }
}
@media (max-width: 767px) {
    .slide {
        padding-top:60px;
    }
}

.phone-number{
    font-family: 'MuseoUkr', 'Roboto Slab', sans-serif;
    font-weight:500; font-size: 18px; line-height: 17pt;
    color: #39AEE4; text-align: left;
    position: fixed;
    margin: 0 auto;
    left:0; right:0;
    top: 19px;
    padding-top: 0px;
    width:95%;
    max-width:1200px;
    background: url(../images/phone_blue_white.png) no-repeat;
    background-size: 30px;
    background-position: 1px 5px;
/*	z-index: 1;*/}
.zamovyty-btn {
    float: right;
    margin: 0px;
    width: 180px;
    padding: 11px 28px 11px 28px;
    top: -25px;
    text-align: center;color: #39AEE4;
    text-transform: uppercase;font-size: 16px;
    font-weight:500;letter-spacing: 1px;
    font-family: 'MuseoUkr','Roboto Slab', sans-serif;
    -webkit-transition: .2s all;-o-transition: .2s all;transition: .2s all;
    border-radius: 30px;
    border: 2px solid #3a91e2;
    border-color: #39AEE4;
    background: none;}
.zamovyty-btn:hover,
.zamovyty-btn:focus{
    background-color: rgba(58, 173, 226, 0.3);
    text-decoration: none; 
    outline:none;
    color: #fff; }
.zamovyty-btn:active{
     color: #fff;
     background: #3aade2;
   text-decoration: none; 
}
.navbar.inv #phone-number-top .zamovyty-btn {
    color: #ffffff;
    border: 3px solid #ffffff;
    top: -25px}
.navbar.inv #phone-number-top {
    color: #ffffff;
    background-position: 2px -76px
}

@media (max-width: 1099px) and 
(min-width: 768px){
    .phone-number {display:none} }
@media (max-width: 767px) {
    .phone-number {
        position:relative;
        top:3px;
        width:200px; /*same as width of li items TODO*/}
    .phone-number .zamovyty-btn {
		position: relative; float: bottom; top: 0px;
        margin: 20px 10% 30px 0%;
        width:90%; 
        font-size: 14px;
        padding: 8px 10px 8px 10px;}
    }

.navbar {
	background-color: #fff;
/*	border-bottom: 0 none;*/
    border-bottom: none;
	transition: .25s all linear;
	height: 80px;
    font-size:15px;
    letter-spacing: 1px;
	text-align: center;
    box-shadow: 0px 0px 1px 0px rgba(122, 122, 122, 0.406);
}
.navbar-responsive-collapse {
    overflow: visible; 
    width:68%; left:16%;
    margin: 0 auto;
}
.navbar.inv {
    background-color:#A2E3FF;}
.navbar .nav a {
    color:#333;
    font-weight:600;
    padding: 0px;
    -webkit-transition: .4s all; -o-transition: .4s all; transition: .4s all;
    text-transform: uppercase;}
.nav .icon  {
    color: rgba( 180, 220, 255, 0 );
    position:absolute;}
.navbar.inv .icon{
    color: rgba( 180, 220, 255, 0 );
    position:absolute;}
.navbar.inv .nav a {
	color: #fff;}
.navbar .nav li {
    display: inline-block;
    padding-top:30px;
    margin:0 1.3%;
    text-align: center; white-space: nowrap;}
.navbar .nav > li > a:hover {
	background-color: inherit;
	outline: none;
    color: #3aade2;}
.navbar .nav > li > a:focus {
	background-color: inherit;
	outline: none;
}
.active-menu {
    background: url(../images/wave.svg);
    background-position: -4px 0px;
    color: #fff; content: ' ';
	display: block; position: absolute;
	height: 6px; top: 0;
	z-index: 9;
    opacity: 0;
	left: 10%; width: 1px; /*не впливає*/
    -webkit-transition: .4s all; -o-transition: .4s all; transition: .4s all;}
@media (min-width: 768px) and (max-width:1099px) {
    .navbar-responsive-collapse 
        {width:90%; left:5%;}    }
@media (max-width: 767px) {	
	.navbar {
		padding: 0px;
        height:50px;	}	
	.navbar-responsive-collapse  {
        width: 112%   !important; 
        left:-9px  !important;
        overflow:hidden;
        padding-bottom:0px;
        background-color:#fff;
		box-shadow: 0px 3px 5px 0px rgba(122, 122, 122, 0.406);
    }
    .navbar.inv .navbar-responsive-collapse{
/*
        background-color:#A2E3FF;
*/
        }
	.navbar-toggle {
        min-width: 99px;
        width:42%;
        right: 25% !important;
        font-size: 18px;
        color: #3aade2;
        font-weight: 600;
        letter-spacing: 2px;
        padding: 5px 0px 1px 0px}
    .navbar.inv .navbar-toggle {
        color: #fff;}
    .navbar-toggle .icon-reorder {
        font-size:15px;
        padding:3px 2px 3px 4px; 
        border-radius:18px; 
        border: 2px solid #3aade2;
        top:-1px}
    .navbar.inv .icon-reorder {
        border: 2px solid #fff;}
    #nav-menu {
/*
        padding-left:20%;
*/
        width:200px; margin: 15px auto; left:0; right:0;}
	.navbar .nav li {
        background-color: white;
        width: 100%;
        padding: 5px;	}
    
    .navbar.inv li{
/*
        background-color: #A2E3FF;
*/
        }
	.navbar .nav a {
		text-align: left;
        color: #474747;
        font-size: 15px;}
    .navbar.inv .nav a {
		color:#333;
        }
    
	.active-menu {
		display: none !important;	}
	.navbar.inv .icon{
        display: none;     	}
}

/* __________________________________ГОЛОВНА */
#slide-1 {
    color:#ffffff;
    font-size: 16px;
    margin-bottom: 0px;
    padding-top: 50px;}

#header-left{
    background: -webkit-linear-gradient(90deg, #6293CB 0%, #5FB9DE 68%, #5FC3E3 100%); background: -moz-linear-gradient(90deg, #6293CB 0%, #5FB9DE 68%, #5FC3E3 100%); background: -o-linear-gradient(90deg, #6293CB 0%, #5FB9DE 68%, #5FC3E3 100%); background: -ms-linear-gradient(90deg, #6293CB 0%, #5FB9DE 68%, #5FC3E3 100%); background: linear-gradient(0deg, #6293CB 0%, #5FB9DE 68%, #5FC3E3 100%);
    min-height: 700px;}
#header-image{
    background: url(../images/photo_top_x2.jpg) no-repeat center top;
    background-size: cover;
    min-height: 550px;}
#maxwidth{
    max-width: 400px;
    min-width: 214px;
    margin: 0 auto;
    }
@media (max-width: 1199px) {
    #header-image {
	display: none;}
    #maxwidth{
        max-width: none;
        width:65%;}
}
@media (max-width: 767px) {
    #header-left{
        min-height: 550px; }
    #slide-1 {
        padding-top: 30px;}
}
@media (min-width: 1200px) {
    #header-image {
	   min-height: 700px;	}
    #header-left {
	   min-height: 700px;	}   
}
@media (min-width: 1500px) {
    #header-image {
	   min-height: 800px;	}
    #header-left {
	   min-height: 800px;  } }

#home-row-1,
#slide-1-row-2 {
    padding-top: 25px;}

#emblema-div{
    padding:0px;
    margin: 70px 0px 40px 0px;
    color: #1071B7;
    font-family: 'MuseoUkr','Roboto Slab', sans-serif;
    font-size: 20px;
    font-weight: 500; letter-spacing: 0.5pt;}
#emblema-div img{
    padding:10px;
    margin: 0px; width:190px}
#emblema-misto{overflow: hidden;
    height:30px; width:315px; 
    margin: 0 auto;}
#emblema-misto div{
    float:left; 
    margin: 0px;
    padding: 0px 20px;}
#emblema-misto .line{
    margin:15px 0px;
    background-color: #1071B7;
    width:30px; height:2px;}
#pereimenuvannia{margin: 0 auto; 
    color:#fff;}

#home-row-1 h1 {
    color:#fff;
    font-weight: 500;
    font-size:35px;
    letter-spacing: 0.6px;
    margin: 50px 0px  20px 0px;
}
#title-text{
    font-family: 'Open Sans', sans-serif; font-weight: 400;
    font-size: 16px;
    line-height: 1.43;
    padding: 0% 10%;}
#slide-1-row-2 .col-sm-6{  min-height:30px }
#slide-1-phones {
    padding: 5px 0px;right:30px;
    min-width: 218px;
    color:#ffffff;
    font-family: 'MuseoUkr','Roboto Slab', sans-serif; 
    font-weight: 500; font-size: 18px;
    text-align: right;}
#slide-1-phones img{
    width:30px;top:10px;right:10px}
#work-time{
    padding: 10px 0px;right:30px;
    min-width: 214px;
    line-height: 20pt;text-align: right;
}
@media (max-width: 767px) {
    #home-row-1,
    #slide-1-row-2 {
        padding: 20px 0px 0px 0px;}
    #emblema-div{
        padding:0px;
        margin: 29px 0px 0px 0px;
        font-size: 14px;
        font-weight: 700; }
    #emblema-div img{
        width: 50%;/* width: 130px;*/
        padding: 10px 0px;
        margin: 3px;    }
    #emblema-misto{
        width:200px;}
    #emblema-misto div{
        padding: 0px 10px;}
    #emblema-misto .line{
        margin:10px 0px;
        width:20px; height:1px;}
    #home-row-1 h1 {
        font-size: 27px;
        margin: 25px 0; }
    #title-text{
        padding: 0% 6%;}
    #slide-1-row-2 .col-sm-6{  min-height:0px }
    #home-row-1 .other-info{    display: none;    }
    #slide-1-row-2 .other-info{    display: none;  }
    #slide-1-phones {
        width: 230px;
        margin: 0 auto;
        top: 79px; right:40px   }
}

#zamovity_button{
    top:-8px;
    padding: 11px 28px 11px 28px;
    margin: 20px auto;
    width: 165px;
    color: #ffffff;text-align: center;text-transform: uppercase;
    font-family: 'MuseoUkr','Roboto Slab', sans-serif;
    font-size: 16px;font-weight: 500;letter-spacing: 1px;
    -webkit-transition: .2s all; -o-transition: .2s all; transition: .2s all;
    border-radius: 30px;border: 0px;
    box-shadow: 0px 2px 7px 0.00px rgba(6, 71, 101, 0.26);
    background: -webkit-linear-gradient(90deg, #09affb 0%,  #80d8fd 100%); background: -moz-linear-gradient(90deg, #09affb 0%,  #80d8fd 100%); background: -o-linear-gradient(90deg, #09affb 0%,  #80d8fd 100%); background: -ms-linear-gradient(90deg, #09affb 0%,  #80d8fd 100%); background: linear-gradient(0deg, #09affb 0%,  #80d8fd 100%);
}
#zamovity_button:hover{
    box-shadow: 0px 2px 43px 0.00px rgba(6, 71, 101, 0.63);
    text-decoration: none;}
#zamovity_button:active{
     color: #fff;
   text-decoration: none; }
@media (max-width: 767px) {
    #zamovity_button{top: -80px;}
}

#slide-1-under-btn{ position:absolute;
    right:0px; left:0px; 
    margin:88px auto;
    font-size:17px}

/*_____________________________________________________СТРІЛКА ПРОКРУТКИ ВНИЗ*/
#arrows {
    z-index: 1;
    position: fixed; bottom: 15px;	
    left:0; right:0; margin: 0 auto;
	width: 80px; height: 80px;
    border-radius: 40px;
    background-color: #6293CB;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.2);
    -webkit-transition: .4s all; -o-transition: .4s all; transition: .4s all;}
#arrows div {
	background-image: url('../images/go-down.svg');
    background-repeat: no-repeat;
	cursor: pointer;
    position: absolute;
	height: 100px; width: 150px;}
#arrow-down {
	background-position: 49% 88%;
    background-size: 25px;
	left: -33px;
	bottom: 19px;
    font-size:0.01px; width:60px; height:60px;
    color: rgba(200, 200, 200, 0);}

@media screen and (min-height:820px) {
    #arrows {bottom: initial; top:730px}
}

@media screen and (min-height:620px) and (max-width:767px) {
    #arrows {
        bottom: initial; top:550px;}
}
@media screen and (max-height:619px) {
    #arrows {
        bottom: -25px;
        background-color: rgba(0, 0, 0, 0.1);}
}
/* _______________________________________________ НАША ВОДA */
#slide-2 {
    z-index:0;
    background-color: #ffffff;
    font-size: 20px;
    color: #222;}
#slide-2 h1 {
    width:55%;
    font-family: "Open Sans", sans-serif; 
    font-weight: 700;
    text-align: left;
    color:#3a3a3a;
    font-size: 48px;
    background:url(../images/waves/lg/1-01.png) no-repeat;
    background-size: 142px;
    background-position: 0% 70%;
    }
.nasha-woda-row-1 {
        padding: 0px 0px 50px 0px;}
.nasha-woda-row-1 img{
    width:23px; 
    top:15px}
.nasha-woda-row-1 p {
    padding: 20px 11% 0px 0px;
    font-weight: 400;
    font-size: 14px;
    text-align: left;}
.nasha-woda-row-1 h2 {
    font-family: "Open Sans", sans-serif; 
    font-weight: 600;
    font-size: 18px;
    text-align: left;}
@media (max-width:1199px) {
    .nasha-woda-row-1 {
        padding: 0px 11% 50px 11%;}
    #slide-2 h1{
        width: max-content;
        margin-top: 0px;
        padding-bottom: 20px;
        background:url(../images/waves/sm/3-01.png) no-repeat;
        background-size: 437px;
        background-position: 0px 31px;}
    .nasha-woda-row-1 .row{
        padding: 27px 0px 0px 0px;}
    .nasha-woda-row-1 img{top:-3px}
    .nasha-woda-row-1 h2 {
        margin: 0px;
        line-height: 18pt}
    .nasha-woda-row-1 p {
        padding: 8px 0px 0px 20px;}
}
@media (max-width:767px) {
    #slide-2 h1{
        width:100%;
        background:url(../images/waves/xs/1-01.png) no-repeat;
        background-size: 289px;
        background-position: 0px 25px;
        font-size:40px; line-height: 30pt;}
    .nasha-woda-row-1 {
        padding: 0px 10% 30px 10%;}
    .nasha-woda-row-1 p {
        padding-left: 0px;}
}
.img-full {min-width: 100%;margin:0px;}
.box {
    margin-bottom: 0px;
    padding: 0px;
    background: #fff;
/*    background: rgba(255,255,255,0.9);*/
}
@media screen and (min-width:1200px) {
    .box:after {content: ''; display: table; clear: both;}
}
#carousel-example-generic{
    overflow: visible !important;
    margin: 0 auto; background: #cef;
    padding: 0px;}
.carousel-inner .item img{
    height:700px; width:100%; object-fit:contain; }
#carousel-right-arrow {
    background-image: url(../images/arrow-right.svg);
    background-repeat:  no-repeat;
    background-position: 100% 52%;
}
#carousel-left-arrow {
    background-image: url(../images/arrow-left.svg);
    background-repeat:  no-repeat;
    background-position: 0% 52%;
}
.box .carousel-indicators{
    width: 100px;
    bottom: -52px;
/*    left: 118%;*/
    left: initial; right:0;
    border-color: whitesmoke;
}
.box .carousel-indicators li{
    background-color:#ABDEF1;
}
.box .carousel-indicators .active {background-color:#3CABE2;}

#slide-2-pidpys { padding: 15px 2px;}

@media (max-width:1199px) {
    #slide-2-pidpys { font-size: 15px;}
}
@media (max-width:999px) and (min-width:400px){
    .box .carousel-indicators{
        display: none;}
    #carousel-example-generic{
        width:100%;}
    .carousel-inner .item img{
        height:420px; }
}
@media (max-width:399px) {
    .box .carousel-indicators{
        display: none;}
    #carousel-example-generic{
        width:100%;}
    .carousel-inner .item img{
        height:300px; }
}
/*--_________________________________________
ПРО КОМПАНІЮ*/

#slide-3 {
    z-index:1;
	background-color: #ffffff;
	color: #444;
	font-weight: 400;
	font-size: 14px;
}

#slide-3 h1 {
    font-family: "Open Sans", sans-serif;
	font-weight: 700;
    font-size: 48px;
    text-align: left;
    max-width:300px;
    background:url(../images/waves/lg/2-01.png) no-repeat;
    background-size: 252px;
    background-position: 0% 70%;}
#slide-3 p{
    padding: 10px;
    text-align: left;
    font-size: 20px;
    line-height: 26pt;
    color:#222;
}

.slide-3-row-1 {
    padding-top: 0px !important;
    margin-bottom: 100px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    width: 109%;
    left: -3.5%;
    height: 333px;
    }

.slide-3-row-1 .col-lg-3{ /*equal to #plant-svg*/
    margin: 0px !important;
    background-color: #3AADE3;
    height:300px; 
    padding:0% 3%;}
.slide-3-row-1 .col-lg-3:hover{
    background-color: #ffffff;
    box-shadow: 0px 0px 20.58px 0.42px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: #323232;
}   
.slide-3-row-1 svg{
    height:60px;width:20%;
    fill: #ffffff;
    padding:0px; margin: 50px 0px 10px 0px;}
#slide-3  h2 {
    margin-top: 0px;
    padding-top: 10px;
    font-family: "Open Sans", sans-serif; 
    font-weight: 700;
    font-size: 18px;
    }
#slide-3  a {color: inherit;
    border-bottom: 2px dotted #C1ECFF;}
#slide-3  a:hover{top: -1px;
    text-decoration: none;
    border-bottom: 2px solid #C1ECFF;}
	
#plant-svg { /*equal to .col-lg-3*/ 
    background: url(../images/plant.svg);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 64% 18%;
    background-color: #3AADE3;
    height:300px;}
#plant-svg h2{ padding-top:135px;}
#plant-svg:hover {
	background-repeat: no-repeat;
	background-color: #ffffff;
	background-position: 43% 19%;
    color: #323232}
	
@media (min-width: 1200px) {
    #plant-svg:hover,
    .slide-3-row-1 .col-lg-3:hover{
    height:320px;top:-10px;
    padding-top:10px;
    }
}
@media (min-width: 1300px) and (max-width: 1399px) {
    .slide-3-row-1 {width: 122%;left: -10%;} }
@media (min-width: 1400px) and (max-width: 1499px){
    .slide-3-row-1 {width: 126.3%;left: -12.1%;} }
@media (min-width: 1500px) {
    .slide-3-row-1 {width: 138%;left: -17.7%;}
}
@media (max-width: 1199px) {
    .slide-3-row-1 {
        height: auto; }
    #slide-3 h1 {
        max-width: none;
        background:url(../images/waves/sm/3-01.png) no-repeat;
        background-size: 437px;
        background-position: 0px 30px;
        margin: 10px 10%;
        padding-bottom: 20px}
    #slide-3 p {
        margin: 1% 8%;  
        font-size: 18px;}
}
@media (max-width: 767px) {
    
    #slide-3 .row {
        margin: 0 auto; 
        max-width:500px;}
    .slide-3-row-1 {
        width: auto;    
        max-width: 360px !important;
        margin: 0 auto;
        left:-2.5%}
    .slide-3-row-1 .col-lg-3{
        height:230px;
        text-align: left;
        padding:0px 10%;
        margin: 0px !important;}
    .slide-3-row-1 .col-lg-3 div{
        float: left; width:25%; margin:1px}
    .slide-3-row-1 svg{
        height:50px;width:80%;
        margin: 25px 0px 15px 0px;}
    .slide-3-row-1 .col-lg-3 h2 {
        padding: 10% 35% 10% 80px;
        top:20px;
        line-height: 20pt;
    }
    #plant-svg {
        height:230px;
        background-position: 14% 18%;}
    #plant-svg h2{
        padding:15px 45% 20px 80px;}
    #plant-svg:hover {
            background-position: -7% 19%;}
    #slide-3 h1{
        margin: 60px 0px 10px 5%;
        background:url(../images/waves/xs/1-01.png) no-repeat;
        background-size: 305px;
        background-position: 0px 25px;
        font-size:40px; line-height: 1.1;
    }
    #slide-3 p{
        max-width: 500px;
        margin: 0 auto;
        padding: 10px;
        text-align: left;
        font-size: 16px;
        font-weight:400;
        line-height: 18pt;
    }
}

	
/*____________________________________________________ ЦІНИ ТА ДОСТАВКА*/
#slide-4 {
    z-index:1;
	background-color: #ffffff;
    color:#3c3b3b;
}
#slide-4 .container{
    }
#slide-4 .row {
}
.slide-4-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-align:left;
    width: max-content;
    background:url(../images/waves/lg/3-01.png);
    background-repeat: no-repeat;
    background-size: 306px;
    padding-right: 2px;
    }

@media(min-width:1200px) {
    #slide-4 {
        padding-bottom: 100px;
        min-height:516px;
    }
    #slide-4 .row {
        width: 110%; left:-5%}
    .slide-4-title {
        width: 290px;
        font-size: 45px;
        line-height: 120%;
        background-position: 0% 70%;
        margin: 0px auto;} }
@media(max-width:1199px) and (min-width:768px) {
    #slide-4 .row {
        width: 105%; left:-2%; max-width: 970px;
        margin: 0px auto;
        margin-bottom: 75px;}
    .slide-4-title {
        font-size: 48px;
        background:url(../images/waves/sm/3-01.png);
        background-repeat: no-repeat; background-size: 437px;
        background-position: 0px 23.5px;
        margin: 0px 0px 20px 90px;
        padding-bottom:10px}
}
@media(max-width:767px) {
    #slide-4 .row {
        margin: 0 auto; 
        width: 100%; min-width: 385px; max-width: 450px;
        margin-bottom:50px;
        height: 720px}
    .slide-4-title {
        font-size: 40px; line-height: 1.1;
        background:url(../images/waves/xs/1-01.png);
        background-repeat: no-repeat; background-size: 359px;
        background-position: 0px 23px;
        margin: 0px 10% 25px 5%;
        padding: 0px 0px 25px 0px;}  }
@media(max-width:377px) {
    #slide-4 .row {
        left:-14%;
         }    
    .slide-4-title {
        left: 7%;
         }
}

#slide-4-phones {
    display: inline-block;
    padding:0px;margin: 20px auto;
    text-align: right; font-weight: 500;
    font-family: 'MuseoUkr','Roboto Slab', sans-serif;
    font-size:28px;
}
#slide-4-work-time{
    display: inline-block;
    text-align: right;
    line-height: 160%;
    font-size: 20px;
    margin: 0px auto;}
#zamovyty-btn3 {
    display: block;
    margin: 15px auto;
    margin-top: 30px;	
    width:240px; padding: 11px 28px 11px 28px; font-size: 16px;
    text-align: center;text-transform: uppercase;
    font-weight:500;font-family: 'MuseoUkr','Roboto Slab', sans-serif;
    letter-spacing: 1px; color: #ffffff;
    border: 0px;border-radius: 30px;
    box-shadow: 0px 2px 7px 0.00px rgba(6, 71, 101, 0.26);   
    -webkit-transition: .2s all; -o-transition: .2s all;  transition: .2s all;
    background: -webkit-linear-gradient(90deg, #09affb 0%,  #80d8fd 100%); background: -moz-linear-gradient(90deg, #09affb 0%,  #80d8fd 100%); background: -o-linear-gradient(90deg, #09affb 0%,  #80d8fd 100%); background: -ms-linear-gradient(90deg, #09affb 0%,  #80d8fd 100%); background: linear-gradient(0deg, #09affb 0%,  #80d8fd 100%);
}
#zamovyty-btn3:hover,
#zamovyty-btn3:focus{
    box-shadow: 0px 2px 43px 0.00px rgba(6, 71, 101, 0.43);
    text-decoration: none; }
#zamovyty-btn3:active{
   text-decoration: none; }
#slide-4-tsilodobovo{
    font-size:20px;}

#slide-4 ul {
    text-align: center;
    font-size:23px; 
    text-transform: uppercase;
    font-weight:700;
    height: 412px;
    border-width: 0px;}
#slide-4 li {
    display:block;
    width:100%;
    height:103px;
    text-align: center;
    background-color: rgba(41, 166, 223, 1);
	border-radius: 0px;
    padding: 0px;
    border-width: 0px;}
#slide-4 .separator{
    position:absolute;
    background-color: #fff;
    height:1px;
    width: 80%;
    margin: 0 10%;
    z-index:1}
#slide-4 li a{
    margin: 0px;
    padding: 34px 0px;
    height:103px;
    border-radius: 0px;
    color: #ffffff;
    border-width: 0px;
	}
#slide-4 li a:hover{
    background-color: rgba(51, 176, 233, 1);
	}
#slide-4 li a:focus{outline:none}
#slide-4 .nav .active{
    box-shadow: 5px 0px 30px 0px rgba(0, 0, 0, 0.2);
    z-index:3;}
#slide-4 .active a{z-index:3;
    color: #000;
    border: 0px;
    width:110%; left:-10%; padding-left:10%;}
#slide-4 .nav .active a:hover{
    background-color: #fff}

#slide-4 .tab-pane{
    padding: 25px 0px;}
#slide-4-info{ box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
    background: #fff;    
    height:409px; /* прирівняно до висоти #slide-4 ul */
    margin:0px;
    left:2.1%;
    z-index:2;}
#slide-4 .tab-pane p{
    padding:0px;}

@media(max-width:767px){
    #slide-4 ul {
        text-align: center;
        font-size:17px; 
        text-transform: uppercase;
        font-weight:700;
        height: auto;
        border-width: 0px;}
    #slide-4 li {
        display:block;
        width:50%;
        height:63px;}
    #slide-4 li a{
        padding: 21px 0px;
        height:63px;
        }
    #slide-4 .active a{z-index:3;
        color: #000;
        border: 0px;
        width:100%; left:0%; padding-left:0%;}    
    #slide-4 .nav .active{
        box-shadow: none;
        z-index:3;}
    #slide-4 .separator{display:none}
    #slide-4 .tab-pane{
        padding: 25px 0px;}
    #slide-4-info{
        position: absolute; top: 125px;
        background: #fff;    
        width:86%; left:7%;
        margin:0 auto;
        z-index:2;
        height:auto;
        min-height:460px}
    #slide-4 .tab-pane p {
        padding:5px 0;}   
}
#dostavka-r .col-xs-3{
    font-size:20px; 
    font-weight:400; 
    line-height: 30pt;}
#dostavka-r .col-xs-6 {
    z-index:5; background-color: #fff; font-size:23px; font-weight:400; line-height: 28pt;
}
@media(max-width:767px){
    #dostavka-r {
        padding-right:0px; 
        margin-right: 0px;
        padding-bottom:0px;}
    #dostavka-r .col-xs-3{
        font-size:17px; 
        font-weight:400; 
        line-height: 27pt;}
    #dostavka-r .col-xs-6 {
        z-index:5; 
        background-color: #fff; 
        font-size:20px; font-weight:400;
        line-height: 25pt;
    }
}
#number-tsina{
    width:100px;
    border-radius: 0px;
    -webkit-box-shadow:0px 0px 0.5px 3px #fff;-moz-box-shadow:0px 0px 0.5px 3px #fff;box-shadow: 0px 0px 0.5px 3px #fff;
    outline: none !important;
    border: 0px solid #fff !important;
    font-size: 20px; 
    font-weight: 600;
    color:#555;
    height:43px;
    text-align: center}
#number-tsina:focus{
  -webkit-box-shadow: inherit !important; -moz-box-shadow:inherit !important; box-shadow: inherit !important; 
  outline: none !important;
}
#bottles-chooser{
    right:29%;
    text-align: center}
.bottle {
    float:right;
    display: inline; right:-9px;}
.bottle svg{
    float:right;
    width:25px;
    fill: rgba(162,227,255,0.9);}
.bottle svg:hover{
    fill: rgba(58,173,226,1);}

#opys-tovariv-r{}
#opys-tovariv-r .col-xs-4{padding:0px}
#opys-tovariv-r img{
    width:140px; margin-left:0px }
#opys-tovariv-r .col-xs-8{
    text-align: left; 
    line-height: 14pt; padding-right:20px}
@media(max-width:767px) {
    #opys-tovariv-r{}
    #opys-tovariv-r img {
        width:130px; 
        right: 15%;
        margin-bottom:20px;
    }
}


/* ===================================
    Form
   ============================= */
form input[type="text"],
form input[type="email"],
form input[type="number"],
form input[type="tel"],
form input[type="password"] {
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  
  -webkit-box-shadow:0px 0px 0.5px 3px #efefef;
  -moz-box-shadow:0px 0px 0.5px 3px #efefef;
  box-shadow: 0px 0px 0.5px 3px #efefef;
  outline: none !important;
}
form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="number"]:focus,
form input[type="tel"]:focus,
form input[type="password"]:focus{
  -webkit-box-shadow:0px 0px 0.5px 3px #f8f8f8 !important; -moz-box-shadow:0px 0px 0.5px 3px #f8f8f8 !important; box-shadow: 0px 0px 0.5px 3px #f8f8f8 !important; 
  outline: none !important;
}
 #slide-5 .date {border: none !important;
    -webkit-box-shadow:0px 0px 0.5px 3px #f8f8f8; -moz-box-shadow:0px 0px 0.5px 3px #f8f8f8; box-shadow: 0px 0px 0.5px 3px #f8f8f8; z-index: 0; } 
.date .input-group-addon{background-color: #fff;border-radius: 0px;font-size: 20px;height:43px;
border:none; -webkit-box-shadow: 1.5px 0px 0.5px 2px rgba(100,100,100,0.1) !important; -moz-box-shadow: 1.5px 0px 0.5px 2px rgba(100,100,100,0.1) !important; box-shadow: 1.5px 0px 0.5px 2px rgba(100,100,100,0.1) !important; z-index: 1; }
#slide-5 .date input {
    -webkit-box-shadow:-1.5px 0px 0.5px 2px rgba(100,100,100,0.1); -moz-box-shadow:-1.5px 0px 0.5px 2px rgba(100,100,100,0.1); box-shadow: -1.5px 0px 0.5px 2px rgba(100,100,100,0.1); z-index: 0; }
#slide-5 .date input:focus {
  -webkit-box-shadow: 3px 0px 0.5px 0px rgba(100,100,100,0.1) !important;
  -moz-box-shadow: 3px 0px 0.5px 0px rgba(100,100,100,0.1) !important;
  box-shadow: 3px 0px 0.5px 0px rgba(100,100,100,0.1) !important;
  outline: none !important;
    z-index: 2; 
}
#slide-5 .form-control{
    border-radius: 0px;
/*    border: 4px solid #CCCCCC !important;*/
    border: 0px solid #fff !important;
    font-size: 20px;
    color:#444;
    height:43px;}
#slide-5 .form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */color:    #444 ;}
#slide-5 .form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */color:    #444;opacity:  1;}
#slide-5 .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */color:    #444;opacity:  1;}
#slide-5 .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */color:    #444;}

#zviazok-slide .form-control {
    border-radius: 0px;
/*    border: 4px solid #CCCCCC !important;*/
    border: 0px solid #fff !important;
    font-size: 20px;
    color:#444;
    height:43px;}
#zviazok-slide .form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */color:    #444 ;}
#zviazok-slide .form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */color:    #444;opacity:  1;}
#zviazok-slide .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */color:    #444;opacity:  1;}
#zviazok-slide .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */color:    #444;}


/*_______________________________ ЗАМОВИТИ */

/* ============================== */

#slide-5 {
    z-index:1;
    background-color: #bae9fd;
    color:#aaa;
    padding-bottom: 100px;
}
#slide-5 .container{
    background-color: #ffffff;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.2);
/*    min-height: 677px;*/
    max-width:900px;
    padding-bottom: 0px !important;}

@media (max-width:768px) and (min-width:371px) {
    #slide-5 {padding-bottom: 60px;}}
@media (max-width:370px) {
    #slide-5 {padding-bottom: 60px;}
}

#slide-5 form {margin:40px 30px 0px 30px; 
    text-align: left;
    z-index:2;}

#slide-5 h1 {
    font-family: "Open Sans", sans-serif; font-weight: 700;
    color: #444;
    font-size:40px;
    text-align: left;
    padding: 55px 0px 0px 50px;
}
#slide-5-waves{
    font-size:0.1px;
    height: 25px;
    margin-right: 50px;
    background:url(../images/waves/lg/4-01.png);
    background-repeat: no-repeat;
    background-position: -3px 0px;
    background-size: 911px;
}
#slide-5-noscript{
/* --for developing-- display:none;*/
    position:absolute; 
    z-index:10;
    padding-top:50px;
    text-align:center; font-size:20px; font-weight:700; color: #EF9DB1; 
    background-color: rgba(250,250,250,0.9);
    width:95%;
    height:80%;
}
#slide-5 .form-group{
    padding: 18px 20px 29px 20px;
    height:95px;
}
#slide-5 .help-block{ 
    position: absolute; margin-top:40px;
    padding-left:10px;
    top: 11px;
    color:#aaa; font-weight:400; }
@media (max-width:767px) {
    #slide-5 h1{
        font-size:40px;
        padding-top: 15px;}
    #slide-5-waves{
        margin-right: 0px;}
    #slide-5 .container{
        max-width:550px;}
    #slide-5 form {
        margin:10px 13%;}
    #slide-5 .form-group{
        padding: 18px 0px 19px 0px;
        height:85px;
    }
    #slide-5 .help-block{ 
        font-size:14px; font-weight: 600}
    #slide-5 .form-control{
        font-size: 16px;
        font-weight: 600}
}
.help-text-selector{
    width:content; margin-bottom: 0px;
    padding:5px 3% 5px 3%; 
    color:#6FCFF9; 
    float:left;
    cursor: pointer;
}
/*
.radio-inline input {display: none;
    position:absolute;
    opacity:0.1; width:1px;
    padding:0px; margin:0px;
}*/
.radio-inline {
    position: relative;
    float: left;
    padding:0px 3px 0px 0px; 
    margin: 0px;
    width:33.3%;
    border-radius:0px;
    font-size:20px;
    color:#333;
    height:43px;
    text-align: center;
	cursor: pointer;
    background: #fff;
    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
    -webkit-transition: all 200ms ease-in-out; -moz-transition: all 200ms ease-in-out; -o-transition: all 200ms ease-in-out; transition: all 200ms ease-in-out;
    -webkit-box-shadow:0px 0px 0.5px 3px #efefef; -moz-box-shadow:0px 0px 0.5px 3px #efefef; box-shadow: 0px 0px 0.5px 3px #efefef;}
.radio-inline:hover{
	background: #cef;}
#slide-5 input[type="radio"]{
    display:none}
@media (max-width:767px) {
    .help-text-selector{
        font-size: 14px; font-weight: 700;
        padding:5px 3% 5px 3%; 
    }
    .radio-inline{
        font-size:16px;
        font-weight:600;
        line-height: 25pt;}
}
#form-kilkist{
    height:auto !important;
    margin-bottom:0px !important; 
    padding-bottom:0px !important;}
#inputNumber {
    min-width:55px;
    font-size: 20px !important;
    font-weight: 400 !important;
    color:#333 !important;
}
#form-kilkist .input-group-addon{
    border:none;
    padding:0px 15px; margin: 0px;
    width:content;height:43px;
    font-size:20px;color:#333;
    text-align: center;cursor: pointer;
    background: #fff;border-radius:0px;
    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
    -webkit-transition: all 200ms ease-in-out; -moz-transition: all 200ms ease-in-out; -o-transition: all 200ms ease-in-out; transition: all 200ms ease-in-out;
    -webkit-box-shadow:0px 0px 0.5px 3px #efefef; -moz-box-shadow:0px 0px 0.5px 3px #efefef; box-shadow: 0px 0px 0.5px 3px #efefef;}
#form-kilkist .input-group span:first-of-type{
    padding:0px 16px;
}
#form-kilkist .input-group-addon:hover{
	background: #cef;}
#form-kilkist .col-sm-3 {
    left:-14px;
    min-height:70px;
    color:#6FCFF9; 
    font-weight:700;
    }
#form-kilkist .col-sm-6 {}
#form-kilkist .col-sm-6 > span{
    color:#444; font-size: 20px; font-weight:400; top:16px;
}  
#zamov-vartist-div{
    float:right; 
    height:70px; 
    top:-15px; 
    right:25%; 
    width:200px; 
    text-align: right; 
    color:#6FCFF9; 
    font-size: 50px; 
    font-weight:700; }
@media (max-width:767px) {
    #form-kilkist {
    }
    #form-kilkist .col-sm-3 {
        min-height: 60px;
    }
    #form-kilkist .col-sm-6 {min-height: 30px;}
    #form-kilkist .col-sm-6 > span{
        color:#777; font-size: 18px;
        font-weight:600; top:1px;}  
    #zamov-vartist-div{
        height:40px; 
        top:-11px; 
        right:47%; 
        width:130px; 
        color:#6FCFF9; 
        font-size: 30px; 
        font-weight:700; }  
}
@media (max-width:1000px) and (min-width:768px) {
    #zamov-vartist-div{
        right:10%;}   
}
@media (max-width:500px) {
    #zamov-vartist-div{
        right:15%; }   
}

#text-zapovnit-polia {
    position: absolute;
    top: 88px;
    z-index: 3;
    display:none;
    text-align:center; font-size:20px; font-weight:700; color: #EF9DB1; 
    -webkit-transition: all 550ms ease-in-out; -moz-transition: all 550ms ease-in-out; -o-transition: all 550ms ease-in-out; transition: all 550ms ease-in-out;
}
@media (max-width:767px) {
/*    #text-zapovnit-polia{display:block}*/
    #text-zapovnit-polia {
        position: absolute; top: 188px;
        min-height:29px;}
}

#nadislaty-div{
    height: auto !important;
    background-image: url(../images/photo_button_lg.jpg);
    background-repeat: no-repeat;
    background-position: 50% 64.7%;
    background-size: 700px;
    margin-bottom: 0px;
    width:140%; left:-16%;
}
#nadislaty-btn {
	display: block;
	margin: 0px auto;
    margin-top: 49px; margin-bottom:50px; 
	left:0; right:0;
    padding: 11px 28px 11px 28px;
    text-align: center;color: #ffffff;
    font-size: 16px;text-transform: uppercase;
    font-weight:500;letter-spacing: 1px;
    font-family: 'MuseoUkr','Roboto Slab', sans-serif;
    -webkit-transition: .2s all;-o-transition: .2s all;
    border-radius: 30px;border: 0px;
    box-shadow: 0px 2px 7px 0.00px rgba(6, 71, 101, 0.26);
    background: -webkit-linear-gradient(90deg, #09affb 0%,  #80d8fd 100%); background: -moz-linear-gradient(90deg, #09affb 0%,  #80d8fd 100%); background: -o-linear-gradient(90deg, #09affb 0%,  #80d8fd 100%); background: -ms-linear-gradient(90deg, #09affb 0%,  #80d8fd 100%); background: linear-gradient(0deg, #09affb 0%,  #80d8fd 100%);}
#nadislaty-btn:hover,
#nadislaty-btn:focus{
     box-shadow: 0px 2px 43px 0.00px rgba(6, 71, 101, 0.43);
   text-decoration: none;
    outline:none;}
#nadislaty-btn:active{
   text-decoration: none; 
}
@media (max-width:767px) {
    #nadislaty-btn {
        font-size: 14px;
        margin-top: 35px; margin-bottom:40px; 
    }
    #nadislaty-div{
        width:115%; left:-4%; top:10px;
        background-position: 50% 62%;
        background-size: 630px;}   }
@media (max-width:550px) {
    #nadislaty-div{
        width:149.9%; left:-18%;  }
}


/*________________________-- ЗВ-ЯЗОК --*/
#zviazok-slide {
    display:none;
    position: fixed; top:0; left:0;
    z-index:10; 
    width:100%; height: 100%;
    background: rgba(128,128,128,0.9); 
    padding:50px 0;}
#zviazok-slide .container{overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.2);
/*    min-height: 677px;*/
    max-width:900px;
    height: 100%;
/*    padding-bottom: 0px !important;*/
    }
#zviazok-slide-close {
    z-index:15; 
    float:right; padding: 5px 10px;
    line-height: 60px;
    color: #20A7DF; font-size:22px; 
    cursor: pointer;}
#zviazok-slide-close:hover {
    text-shadow: 0 0 1px #777}
#zviazok-slide-close .icon-angle-left{
    left:-6px
}
#zviazok-slide h1 {
    font-family: "Open Sans", sans-serif; font-weight: 700;
    color: #444;
    font-size:40px;
    text-align: left;
    padding: 35px 0px 0px 50px;}
.zviazok-slide-waves{
    z-index:15; /* because of close-button;*/
    font-size:0.1px; color:#fff;
    height: 25px;
    margin-right:35px;
    background:url(../images/waves/lg/4-01.png);
    background-repeat: no-repeat; background-position: -3px 0px;
    background-size: 860px;}
#contactform {
    height: 82%;
    position: absolute;bottom:-2px;
    /*z-index:16; /* because of close-button;*/
    margin:0px 35px; left:-4px;
    text-align: left;}
#contactform .row{
    max-height:100%;}
#contactform p {
    font-size: 20px; font-weight: 600;
    padding: 30px 10% 0px 20px;}
#contactform .form-group{ 
    padding: 18px 20px 0px 20px;}
#contactform .help-block{
    color:#aaa; font-weight:400; 
    margin-bottom: 0}
#contactform .form-control{
        -webkit-box-shadow:0px 0px 0.5px 3px #efefef;
        -moz-box-shadow:0px 0px 0.5px 3px #efefef;
    box-shadow: 0px 0px 0.5px 3px #efefef !important;}
#contactform textarea{
    height: auto !important;
    border: 0px solid #fff !important;
    -webkit-transition: all 250ms ease-in-out;-moz-transition: all 250ms ease-in-out;-o-transition: all 250ms ease-in-out;transition: all 250ms ease-in-out;
    -webkit-box-shadow:0px 0px 0.5px 3px #efefef;-moz-box-shadow:0px 0px 0.5px 3px #efefef;box-shadow: 0px 0px 0.5px 3px #efefef;
    outline: none !important;}
#contactform textarea:focus{
    -webkit-box-shadow:0px 0px 0.5px 3px #f8f8f8 !important; -moz-box-shadow:0px 0px 0.5px 3px #f8f8f8 !important; box-shadow: 0px 0px 0.5px 3px #f8f8f8 !important; 
    outline: none !important;
}
@media (min-height:770px){
    #contactform textarea{
        height: 200px !important;}
    #contactform {
        height: 90% !important;
        bottom:-55px;} }
@media (max-height:769px){
    #zviazok-slide {padding-top:0;
    padding-bottom:0;}
    #zviazok-slide h1{
        font-size:30px;
        padding: 0px 40% 0px 40px;}
  }
@media (max-height:543px){
    #contactform .row{
        overflow: hidden; overflow-y: scroll;} }
@media (max-width:767px) {
    #zviazok-slide h1{
        font-size:30px;
        padding: 0px 40% 0px 40px;}
    #zviazok-slide .container{
        max-width:550px;}
    .zviazok-slide-waves{
        margin-right:0;}
    #contactform {
        height: 78%;
        max-height: 650px;
        margin:0px 8%;}
    #zviazok-slide p{
        font-size:14px; padding: 10px;}
    #zviazok-slide .form-group{
        padding: 10px;}
    #zviazok-slide .help-block{ 
        font-size:13px; font-weight: 600}
    #zviazok-slide .form-control{
        height:35px;
        font-size: 16px;
        font-weight: 600}
}


#text-zapovnit-polia2 {
    display:none;position: absolute;
    bottom: 150px; z-index:14;
    text-align:center; font-size:20px; font-weight:700; color: #EF9DB1; 
    -webkit-transition: all 550ms ease-in-out; -moz-transition: all 550ms ease-in-out; -o-transition: all 550ms ease-in-out; transition: all 550ms ease-in-out;}
@media (max-width:767px) {
    #text-zapovnit-polia2 {
        position: absolute; bottom: 103px;
        font-size:17px;}
}
#nadislaty2-div {z-index:13;
    background-image: url(../images/photo_button_lg.jpg);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 700px;
    margin: 0px;
    width:140%; left:-20%;
}
#nadislaty2-btn {
	display: block;
	margin: 0px auto;
    margin-top: 49px; margin-bottom:150px; 
	left:0; right:0;
    padding: 11px 28px 11px 28px;
    text-align: center;color: #ffffff;
    font-size: 16px;text-transform: uppercase;
    font-weight:500;letter-spacing: 1px;
    font-family: 'MuseoUkr','Roboto Slab', sans-serif;
    -webkit-transition: .2s all; -o-transition: .2s all; transition: .2s all;
    border-radius: 30px;border: 0px;
    box-shadow: 0px 2px 7px 0.00px rgba(6, 71, 101, 0.26);
    background: -webkit-linear-gradient(90deg, #09affb 0%,  #80d8fd 100%); background: -moz-linear-gradient(90deg, #09affb 0%,  #80d8fd 100%); 
        background: -o-linear-gradient(90deg, #09affb 0%,  #80d8fd 100%); background: -ms-linear-gradient(90deg, #09affb 0%,  #80d8fd 100%); 
        background: linear-gradient(0deg, #09affb 0%,  #80d8fd 100%);}
#nadislaty2-btn:hover,
#nadislaty2-btn:focus{
     box-shadow: 0px 2px 43px 0.00px rgba(6, 71, 101, 0.43);
   text-decoration: none;
    outline:none;}
#nadislaty2-btn:active{
   text-decoration: none; 
}
@media (max-width:767px) {
    #nadislaty2-btn {
        font-size: 14px;
        margin-top: 35px; margin-bottom:40px; 
    }
    #nadislaty2-div{
        width:125%; left:-12%;
        background-position: 10% 55%;
        background-size: 630px;
        padding-bottom:0px !important;
        margin-bottom:0px !important}   }

#contact-form-success{display:none;}
#contact-form-success .zviazok-slide-waves{
    padding:0px; background-size: 100%;
    width:105%;left:-3%}
#contact-form-success h3{
    padding:0px; text-align: center;}
#contact-form-success p {
    font-size: 20px; font-weight: 600;
    padding: 30px auto;
    text-align: center;}

/*___________________________*/
#slide-6 {
    z-index:1;
    margin:0px;
    background-color: #222;
    padding: 0px 0px 0px 0px;
}
#footer-emblema-div{
    padding:0px;
    margin: 40px 0px 20px 0px;
    color: #1071B7;
    font-family: 'MuseoUkr','Roboto Slab', sans-serif;
    font-size: 18px;font-weight: 500; 
    letter-spacing: 0.5pt;}
#footer-emblema-div img{
    padding:10px;
    margin: 0px; width:180px}
#footer-emblema-misto{overflow: hidden;
    height:30px; width:305px; 
    margin: 0 auto;}
#footer-emblema-misto div{
    float:left; 
    margin: 0px;
    padding: 0px 20px;}
#footer-emblema-misto .line{
    margin:13px 0px;
    background-color: #1071B7;
    width:30px; height:2px;}
#footer-pereimenuvannia{margin: 0 auto;
    color: #555;}
.footer-title-text{
/*    border-bottom: 3px dotted #555;*/
/*
background-image: url(../images/footer_dots.jpg);
background-repeat: no-repeat;
background-position: 50% 100%;
background-size: 100%;
*/
    width:min-content; margin: 0 auto;
    padding: 20px 0;
}
.footer-title-text h1{
    width: 590px; margin: 0;
    background-color: #222;
    color: #555; font-size:14px;    
    font-family: 'Open Sans', sans-serif; 
    font-weight: 400;
    line-height: 1.43;}
.footer-title-text .dots {
    font-size:30px;width: 592px;
    overflow: hidden;
}
@media (max-width: 767px) {
    #slide-6 {padding: 0;}
    #footer-emblema-div{
        padding:0px;
        margin: 29px 0px 0px 0px;
        font-size: 14px;
        font-weight: 500; }
    #footer-emblema-div img{
        padding: 10px 0px;
        margin: 3px;    }
    #footer-emblema-misto{
        width:200px;}
    #footer-emblema-misto div{
	padding: 0px 10px;}
    #footer-emblema-misto .line{
        margin:10px 0px;
        width:20px; height:1px;}

    .footer-title-text h1{
/*       background-size: 150%;*/
	   width: 230px;
	   font-size:13px;}
    .footer-title-text .dots {
        font-size:20px;width: 230px;
}
}
