* {
	position: relative;
}

.breaker {
	clear: both;
	font-size: 1px;
	line-height: 1px;
	height: 1px;
}

html {
	height: 100%;
	max-width: 100%;
}

body {
	height: 100%;
	max-width: 100%;
    
	background-color: #fff;
    font-family: "Open Sans", sans-serif;
    color:#3c3c3c;    
    font-weight: 400;
    font-size:14px;
	
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', sans-serif;
/*font-family: "museo", sans-serif;
    font-weight:700;*/
}

.justify-text {
	text-align: justify;
}

.time-mins {
    font-size:60%;
    top:-5pt;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

.slide {
	padding: 0px;
    padding-top:50px;
	text-align: center;       
}
@media (max-width: 768px) {
    .slide {
    padding-top:20px;
    }
}
/* _____________________________________________________________ ВЕРХ, МЕНЮ */

#phone-number{
    font-family: "Roboto Slab", sans-serif;
    position: fixed;
    margin: 0 auto;
    left:0; right:0;
    top: 24px;
    
    padding-top: 2px;
    font-weight:700;
    font-size: 18px;
    letter-spacing: 1pt;
    width:95%;
    max-width:1200px;
    text-align: left;
    color: #3a91e2;
    color: #6ac7ed;
    color: #39AEE4;
    text-transform:uppercase;  
    
    background: url(../images/phone_blue_white.png) no-repeat;
    background-size: 30px;
    background-position: 1px 0px;
/*	z-index: 1;*/}
#zamovyty-btn {
        float: right;
    margin: 0px;
    width: 180px;
    padding: 11px 28px 11px 28px;
    top: -10px;
        font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    font-weight:700;
    font-family: "Roboto Slab";
        -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
    border-radius: 30px;
    color: #39AEE4;
    border: 2px solid #3a91e2;
    border-color: #39AEE4;
    background: none;}
#zamovyty-btn:hover,
#zamovyty-btn:focus{
    background-color: rgba(58, 173, 226, 0.3);
    text-decoration: none; 
    outline:none;}
#zamovyty-btn:active{
     color: #fff;
     background: #3aade2;
   text-decoration: none; 
}
@media (max-width: 1100px){
    #phone-number {
        display: none;}
}

.navbar {
	background-color: #fff;
/*	border-bottom: 0 none;*/
    border-bottom: none;
	transition: .25s all linear;
	height: 80px;
    font-size:15px;
	text-align: center;
}

/*
.nav.inv {
    background-color:#99ddee;
}
*/

.navbar.inv {
    background-color:#A2E3FF;
}
.navbar .nav a {
    color:#333;
    font-weight:600;
    padding: 0px;
	transition: all .5 linear;
    text-transform: uppercase;
}
.nav .icon  {
    color: rgba( 180, 220, 255, 0 );
    position:absolute;
}
.navbar.inv .icon{
    color: rgba( 180, 220, 255, 0 );
    position:absolute;
}
.navbar.inv a {
	color: #fff;
}
.navbar-responsive-collapse {
	margin: 0 auto;
}
.navbar .nav li {
    display: inline-block;
    padding-top:30px;
    margin-left:1%;
    margin-right:1%;
	text-align: center;
	white-space: nowrap;
    
}

.navbar .nav > li > a:hover {
	background-color: inherit;
	outline: none;
    color: #3aade2;
}
.navbar .nav > li > a:focus {
	background-color: inherit;
	outline: none;
}


.active-menu {
    background: url(../images/wave.svg);
    background-position: -4px 0px;
/*    background-size: 244px 6px;*/
    color: #fff;
	content: ' ';
	display: block;
	height: 6px;
	left: 0; /*не впливає*/
	position: absolute;
	top: 0;
	transition: all .5 linear;
	width: 1px;
	z-index: 9;
}

.special-active-menu {
	z-index: 8;
    background: none;
}

@media (max-width: 767px) {	
	.nav li {
        background-color: white;
        width:98%;
        padding: 10px 0px;	}
	.navbar-responsive-collapse  {
		width: 110%   !important; 
        left:0  !important;	}
	.active-menu {
		display: none !important;	}
	.navbar-toggle {
        width: 100%;
        margin: 0 auto;
        font-size: 18px;
        color: #61C0E2;
        font-weight: 600;
        letter-spacing: 2px;
        top:5px}
	.navbar {
		background-color: #fff !important;
		padding: 0px;
        height:50px;	}	
	.navbar .nav a {
        color: #474747;
        font-size: 14px;	}
	.navbar.inv .icon{
        display: none;     	}
	.navbar-brand {margin: 0;text-align: left;}
}

/* __________________________________ГОЛОВНА */
#slide-1 {
    color:#ffffff;
    font-size: 16px;
    margin-bottom: 0px;
}
#header-left{
    background: -webkit-linear-gradient(90deg, #6293CB 0%, #5FB9DE 68%, #5FC3E3 100%); background: -moz-linear-gradient(90deg, #6293CB 0%, #5FB9DE 68%, #5FC3E3 100%); background: -o-linear-gradient(90deg, #6293CB 0%, #5FB9DE 68%, #5FC3E3 100%); background: -ms-linear-gradient(90deg, #6293CB 0%, #5FB9DE 68%, #5FC3E3 100%); background: linear-gradient(0deg, #6293CB 0%, #5FB9DE 68%, #5FC3E3 100%);
    min-height: 650px;
}

#header-image{
    background: url(../images/photo_top_x2.jpg) no-repeat center top;
    background-size: cover;
    min-height: 550px;
}

#maxwidth{
        max-width: 400px;
        min-width: 214px;
        margin: 0 auto;
    }
@media (max-width: 1199px) {
    #header-image {
		display: none;}
    #maxwidth{
        max-width: none;
        width:65%;}
}
@media (max-width: 767px) {
    #header-left{
        min-height: 550px; }
}
@media (min-width: 1200px) {
    #header-image {
	   min-height: 700px;	}
    #header-left {
	   min-height: 700px;	}   
}
@media (min-width: 1500px) {
    #header-image {
	   min-height: 800px;	}
    #header-left {
	   min-height: 800px;  } }

#home-row-1,
#slide-1-row-2 {
    padding-top: 25px;}

#emblema-div{
    padding:0px;
    margin: 70px 0px 40px 0px;
    color: #1071B7;
    font-family: "Roboto Slab", sans-serif;
    font-size: 20px;
    font-weight: 700; letter-spacing: 0.5pt;}
#emblema-div img{
    padding:10px;
    margin: 0px;}
#emblema-misto{overflow: hidden;
    height:30px; width:274px; 
    margin: 0 auto;}
#emblema-misto div{
    float:left; 
    margin: 0px;
    padding: 0px 20px;}
#emblema-misto .line{
    margin:15px 0px;
    background-color: #1071B7;
    width:30px; height:2px;}

#home-row-1 h2 {
    color:#ffffff;
    font-weight: 600;
    font-size:35px;
    letter-spacing: 0.6px;
    margin: 55px 0px  30px 0px;
}
#title-text{padding: 0% 10%;
}
#slide-1-row-2 .col-sm-6{  min-height:30px }
#slide-1-row-2 h5 {
    color:#ffffff;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1pt;
    text-align: right;
    right:20px;
}
#work-time{
    line-height: 20pt;
    text-align: right;
    right:20px;
}
@media (max-width: 767px) {
    #home-row-1,
    #slide-1-row-2 {
        padding: 20px 0px;}
    #home-row-1 p {
        font-size: 16px;    }
    #emblema-div{
        padding:0px;
        margin: 29px 0px 0px 0px;
        font-size: 14px;
        font-weight: 700; }
    #emblema-div img{
        width: 50%;/* width: 130px;*/
        padding: 10px 0px;
        margin: 3px;    }
    #emblema-misto{
        width:173px;}
    #emblema-misto div{
    padding: 0px 10px;}
    #emblema-misto .line{
        margin:11px 0px;
        width:20px; height:1px;}
    #home-row-1 h2 {
        font-size: 27px;
        font-weight: 700; margin: 25px 0; }
    #title-text{
        padding: 0% 6%;}
    #home-row-1 .other-info{    display: none;    }
    #slide-1-row-2 .other-info{    display: none;  }
    #home-row-1 h5 {
        margin: 0 auto;
        text-align: center;
        top: 109px; right:0px;   }
}

#zamovity_button{
    top:-8px;
    padding: 11px 28px 11px 28px;
    margin: 20px auto;
    width: 165px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    -webkit-transition: .2s all; -o-transition: .2s all; transition: .2s all;
    border-radius: 30px;
    border: 0px;
    box-shadow: 0px 2px 7px 0.00px rgba(6, 71, 101, 0.26);
    background: -webkit-linear-gradient(90deg, #09affb 0%,  #80d8fd 100%); background: -moz-linear-gradient(90deg, #09affb 0%,  #80d8fd 100%); background: -o-linear-gradient(90deg, #09affb 0%,  #80d8fd 100%); background: -ms-linear-gradient(90deg, #09affb 0%,  #80d8fd 100%); background: linear-gradient(0deg, #09affb 0%,  #80d8fd 100%);
}
#zamovity_button:hover{
    box-shadow: 0px 2px 43px 0.00px rgba(6, 71, 101, 0.63);
    text-decoration: none;}
#zamovity_button:active{
     color: #fff;
   text-decoration: none; }
@media (max-width: 767px) {
    #zamovity_button{top: -50px;}
}

#slide-1-under-btn{ position:absolute; right:0px; left:0px; margin:70px auto;}

/*_____________________________________________________СТРІЛКА ПРОКРУТКИ ВНИЗ*/
#arrows {
    z-index: 1;
	top: 615px;	
	position: fixed;
    left:0; right:0; margin: 0 auto;
	width: 80px; height: 80px;
    border-radius: 40px;
    background-color: #6293CB;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.2);}
#arrows div {
	background-image: url('../images/go-down.svg');
    background-repeat: no-repeat;
	cursor: pointer;
    position: absolute;
	height: 100px; width: 150px;}
#arrow-down {
	background-position: 49% 88%;
    background-size: 25px;
	left: -33px;
	bottom: 19px;
    font-size:0.01px; width:60px; height:60px;
    color: rgba(200, 200, 200, 0);}
#arrow-down.disabled {	background-position: 0 -30px;
} .navigation-slide { 	cursor: pointer;} #arrows div.disabled {	cursor: default; }

@media screen and (min-height:900px) {
    #arrows {
        top: 719px;}
}
@media screen and (max-height:590px)  and (max-width:767px) {
    #arrows {
	top: 485px;	 background-color: rgba(0, 0, 0, 0.1);}
}
/* _______________________________________________ НАША ВОДA */
#slide-2 {
    margin-top: 50px;
    z-index:1;
	background-color: #ffffff;
	padding: 100px 0px 0px 0px;
    font-size: 20px;
    color: #222;}
#slide-2 h4 {
    font-family: "Open Sans", sans-serif; 
    font-weight: 600;
    font-size: 18px;}
.nasha-woda-row-1 img{
    width:23px; 
    top:4px}
.nasha-woda-row-1 p {
    padding: 20px 11% 0px 0px;
    font-weight: 400;
    font-size: 14px;
    text-align: left;}
.nasha-woda-row-1 h4 {
    font-family: "Open Sans", sans-serif; 
    font-weight: 600;
    font-size: 18px;
    text-align: left;}
#slide-2 h3 {
    width:63%;
    font-family: "Open Sans", sans-serif; 
    font-weight: 700;
    text-align: left;
    color:#3a3a3a;
    font-size: 48px;
    background:url(../images/waves-background-1.png) no-repeat;
    background-position: 0% 70%;
    background-size: 100%}
@media (max-width:1199px) {
    .nasha-woda-row-1 {
        padding: 10px 11% 0px 11%;}
    #slide-2 h3{
        background-position: 0px 21px;
        background-size: 279px 62px ;}
    .nasha-woda-row-1 .row{
        padding: 27px 0px 0px 0px;}
    .nasha-woda-row-1 img{top:-3px}
    .nasha-woda-row-1 h4 {
        margin: 0px 0px 0px 10px;
    line-height: 18pt}
    .nasha-woda-row-1 p {
        padding: 3px 0px 0px 0px;}
}
@media (max-width:767px) {
    #slide-2 h3{
        width:100%;
        padding-bottom: 20px;
        background-position: 0px 30px;
        background-size: 379px 62px ;}
}
.img-full {min-width: 100%;margin:0px;}
.box {
    margin-bottom: 0px;
    padding: 0px;
    background: #fff;
/*    background: rgba(255,255,255,0.9);*/
}
@media screen and (min-width:1200px) {.box:after {content: ''; display: table; clear: both;}
}
/*кінець сss з шаблону*/
#carousel-right-arrow {
    background-image: url(../images/arrow-right.svg);
    background-repeat:  no-repeat;
    background-position: 100% 52%;
}
#carousel-left-arrow {
    background-image: url(../images/arrow-left.svg);
    background-repeat:  no-repeat;
    background-position: 0% 52%;
}
.box .carousel-indicators{
    width: 137px;
    bottom: -55px;
    left: 118%;
    border-color: whitesmoke;
}
.box .carousel-indicators li{
    background-color:#ABDEF1;
}
.box .carousel-indicators .active {background-color:#3CABE2;}

#slide-2-pidpys { padding: 15px 2px;}

@media (max-width:1199px) {
    .box .carousel-indicators{
        display: none;}
    #slide-2-pidpys { font-size: 15px;}
}
/*--_________________________________________
ПРО КОМПАНІЮ*/

#slide-3 {
    z-index:1;
	background-color: #ffffff;
	padding: 100px 0px 0px 0px;
	color: #444;
	font-weight: 400;
	font-size: 14px;
}

#slide-3 h3 {
    font-family: "Open Sans", sans-serif;
	font-weight: 700;
    font-size: 48px;
    text-align: left;
    max-width:300px;
    background:url(../images/waves-background-1.png) no-repeat;
    background-position: 0% 60%;
    background-size: 250px 70px;}
#slide-3 p{
    padding: 10px;
    text-align: left;
    font-size: 20px;
    line-height: 26pt;
    color:#222;
}
#slide-3  h4 {
    font-family: "Open Sans", sans-serif; 
    font-weight: 700;
    font-size: 18px;}

.nasha-woda-row-2 {
    margin-bottom: 100px;color: #ffffff;
    text-align: center;
	font-size: 14px;
    width: 110%;
    left: -3.4%;
    height: 333px;
    }

.nasha-woda-row-2 .col-lg-3{
    background-color: #3AADE3;
    height:320px;
    padding:0% 4%;}
    
.nasha-woda-row-2 img{
	margin-top: 50px;
	width:150px; 
	left:45px;}
.nasha-woda-row-2 svg{
    height:60px;width:20%;
    fill: #ffffff;
    padding:0px; margin: 50px 0px 10px 0px;}

.nasha-woda-row-2 .col-lg-3:hover{
    background-color: #ffffff;
    box-shadow: 0px 0px 20.58px 0.42px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: #323232;
}
.nasha-woda-row-2 p {
	color: #ffffff;
	font-weight: 600;
	font-size: 14px;
	margin:10%;
	text-align: center;}
	
#plant-svg {
	background: url(../images/plant.svg) no-repeat;
	background-size: 30%;
    background-position: 64% 18%;
    background-color: #3AADE3;
    height:320px;
}
#plant-svg h4{ margin-top:150px;}
#plant-svg:hover {
	background-repeat: no-repeat;
	background-color: #ffffff;
	background-position: 43% 19%;
    color: #323232}
	
@media (min-width: 1200px) {
    #plant-svg:hover,
    .nasha-woda-row-2 .col-lg-3:hover{
    height:340px;top:-10px;
    }
}
@media (min-width: 1300px) {
    .nasha-woda-row-2 {
        width: 122%;left: -10%;}
}
/*
@media (min-width: 1400px) {
    .nasha-woda-row-2 {
        width: 130%;left: -13.5%;}
}
@media (min-width: 1500px) {
    .nasha-woda-row-2 {
        width: 138%;left: -17.7%;}
}*/

@media (max-width: 1199px) and (min-width: 768px) {
    .nasha-woda-row-2 {
    height: 573px;
    }
    #slide-3 h3 {
        max-width: none;
        background-position: 0px 26px;
        background-size: 390px 71px;
        margin: 4% 9%;
        padding-bottom: 10px}
    #slide-3 p {
        margin: 1% 8%;
    }
}

@media (max-width: 767px) {
    .nasha-woda-row-2 {
        height: 1377px;
    }
    #slide-3 h3 {
        max-width: none;
        background-position: 0px 26px;
        background-size: 390px 71px;
        margin: 4% 9%;
        padding-bottom: 10px}
    #slide-3 p {
        margin: 1% 8%;
    }
}

	
/*____________________________________________________ ЦІНИ ТА ДОСТАВКА*/
#slide-4 {
    z-index:1;
	background-color: #ffffff;
    color:#3c3b3b;
	padding: 100px 0px;
    min-height:516px;
}
#slide-4 .row {
        width: 122%; left: -10%;}

#slide-4-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
	font-size: 45px;
    text-align: left;
    line-height: 120%;
    
    background-image:url(../images/waves-background-1.png);
    background-repeat: no-repeat;
    background-position: 0% 70%;
    background-size: 280px 80px;
    
    margin: 0px;
	left:40px;
    top:-10px;}
#slide-4 h6 {
    font-size:28px;
    padding:0px;
    margin: 30px 0px;
    left:-7%;
/*    width: 88%;*/
}
#slide-4 #work-time{
    text-align: right;
    line-height: 160%;
    font-size: 20px;
    max-width:310px;}
#zamovyty-btn3 {
/*    z-index: 10000;*/
	display: block;
	margin: 15px auto;
    margin-top: 50px;
	left: -6%; 
    width:240px;
  padding: 11px 28px 11px 28px;
  font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    font-weight:700;
    font-family: "Roboto Slab";
    letter-spacing: 1px;
    color: #ffffff;
    border: 0px;
    border-radius: 30px;
    box-shadow: 0px 2px 7px 0.00px rgba(6, 71, 101, 0.26);
   
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
    background: -webkit-linear-gradient(90deg, #09affb 0%,  #80d8fd 100%); background: -moz-linear-gradient(90deg, #09affb 0%,  #80d8fd 100%); background: -o-linear-gradient(90deg, #09affb 0%,  #80d8fd 100%); background: -ms-linear-gradient(90deg, #09affb 0%,  #80d8fd 100%); background: linear-gradient(0deg, #09affb 0%,  #80d8fd 100%);
}
#zamovyty-btn3:hover,
#zamovyty-btn3:focus{
    box-shadow: 0px 2px 43px 0.00px 
        rgba(6, 71, 101, 0.43);
    text-decoration: none; }
#zamovyty-btn3:active{
   text-decoration: none; }
#slide-4-tsilodobovo{
    font-size:20px;
    left:-24px;}

#slide-4 ul {
	text-align: center;
    font-size:23px; 
    text-transform: uppercase;
    font-weight:700;
    height: 412px;
    border-width: 0px;}
#slide-4 li {
    display:block;
    width:100%;
    height:103px;
    text-align: center;
    background-color: rgba(41, 166, 223, 1);
	border-radius: 0px;
    padding: 0px;
    border-width: 0px;}
#slide-4 .separator{
    position:absolute;
    background-color: #fff;
    height:1px;
    width: 80%;
    margin: 0 10%;
    z-index:1}
#slide-4 li a{
    margin: 0px;
    padding: 34px 0px;
    height:103px;
    border-radius: 0px;
    color: #ffffff;
    border-width: 0px;
	}
#slide-4 li a:hover{
    background-color: rgba(51, 176, 233, 1);
	}
#slide-4 li a:focus{outline:none}
#slide-4 .nav .active{
    box-shadow: 5px 0px 30px 0px rgba(0, 0, 0, 0.2);
    z-index:3;}
#slide-4 .active a{z-index:3;
    color: #000;
    border: 0px;
    width:110%; left:-10%; padding-left:10%;}
#slide-4 .nav .active a:hover{
    background-color: #fff}

#slide-4 .tab-pane{
    padding: 25px 0px;}
#slide-4-info{ box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
background: #fff;    
height:411px; /* прирівняно до висоти #slide-4 ul */
margin:0px;
left:2.1%;
z-index:2;}
#slide-4 .tab-pane p{
    padding:5px;}
#dostavka-r .col-xs-3{
    font-size:20px; 
    font-weight:400; 
    color:#333;
    line-height: 30pt;}
#number-tsina{
    border-radius: 0px;
    border-color:#ccc;
/*    border: 4px solid #CCCCCC !important;*/
    border: 1px solid #fff !important;
    font-size: 20px; 
    font-weight: 600;
    color:#555;
    height:43px;
    text-align: center}
/*__
______________________________________________________ЗАМОВИТИ*/

/* ===================================
    Forms
   ============================= */
form input[type="text"],
form input[type="email"],
form input[type="number"],
form input[type="password"] {
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
    
  -webkit-box-shadow:0px 0px 0.5px 3px #efefef;
  -moz-box-shadow:0px 0px 0.5px 3px #efefef;
  box-shadow: 0px 0px 0.5px 3px #efefef;
  outline: none !important;
}
form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="number"]:focus,
form input[type="password"]:focus {
  -webkit-box-shadow:0px 0px 0.5px 3px #f8f8f8 !important; -moz-box-shadow:0px 0px 0.5px 3px #f8f8f8 !important; box-shadow: 0px 0px 0.5px 3px #f8f8f8 !important; 
  outline: none !important;
}
form {margin:40px 30px; 
    text-align: left;
z-index:2;}
 #slide-5 .date {border: none !important;
    -webkit-box-shadow:0px 0px 0.5px 3px #f8f8f8; -moz-box-shadow:0px 0px 0.5px 3px #f8f8f8; box-shadow: 0px 0px 0.5px 3px #f8f8f8; z-index: 0; } 
#slide-5 .input-group-addon{background-color: #fff;border-radius: 0px;font-size: 20px;height:43px;
border:none; -webkit-box-shadow: 1.5px 0px 0.5px 2px rgba(100,100,100,0.1) !important; -moz-box-shadow: 1.5px 0px 0.5px 2px rgba(100,100,100,0.1) !important; box-shadow: 1.5px 0px 0.5px 2px rgba(100,100,100,0.1) !important; z-index: 1; }
#slide-5 .date input {
    -webkit-box-shadow:-1.5px 0px 0.5px 2px rgba(100,100,100,0.1); -moz-box-shadow:-1.5px 0px 0.5px 2px rgba(100,100,100,0.1); box-shadow: -1.5px 0px 0.5px 2px rgba(100,100,100,0.1); z-index: 0; }
#slide-5 .date input:focus {
  -webkit-box-shadow: 3px 0px 0.5px 0px rgba(100,100,100,0.1) !important;
  -moz-box-shadow: 3px 0px 0.5px 0px rgba(100,100,100,0.1) !important;
  box-shadow: 3px 0px 0.5px 0px rgba(100,100,100,0.1) !important;
  outline: none !important;
    z-index: 2; 
}
#slide-5 .form-control{
    border-radius: 0px;
/*    border: 4px solid #CCCCCC !important;*/
    border: 0px solid #fff !important;
    font-size: 20px;
    color:#333;
    height:43px;}
#slide-5 .form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */color:    #444 ;}
#slide-5 .form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */color:    #444;opacity:  1;}
#slide-5 .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */color:    #444;opacity:  1;}
#slide-5 .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */color:    #444;}

/* ============================== */

#slide-5 {
    z-index:1;
    background-color: #bae9fd;
    color:#aaa;
    padding: 100px 0px;
}
#slide-5 .container{
    background-color: #ffffff;
    background-image: url(../images/photo_button_lg.jpg);
    background-repeat: no-repeat;
    background-position: 50% 115%;
    background-size: 70%;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.2);
    min-height: 677px;
    width:900px;}

#slide-5 h3 {
    font-family: "Open Sans", sans-serif; font-weight: 700;
    color: #444;
    font-size:40px;
    text-align: left;
    padding: 55px 0px 0px 50px;
}
#slide-5-waves{
    font-size:0.1px;
    height: 21px;
    background:url(../images/waves-background-1.png);
    background-position: 0px 0px;
}
#slide-5 .form-group{
    padding: 18px 0px 29px 0px;
}
#slide-5 .help-block{ 
    position: absolute; margin-top:40px; margin-left:6px;
    top: 11px;
    color:#777; font-weight:400; }

.radio-inline input {display: none;
    position:absolute;
    opacity:0.1; width:1px;
    padding:0px; margin:0px;
}
.radio-inline {
	position: relative;
	float: left;
    padding:0px; margin: 0px;
    width:33.3%;
    border-radius:0px;
    font-size:20px;
    color:#333;
    height:43px;
    text-align: center;
	cursor: pointer;
    background: #fff;
	-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
    -webkit-transition: all 250ms ease-in-out; -moz-transition: all 250ms ease-in-out; -o-transition: all 250ms ease-in-out; transition: all 250ms ease-in-out;
    -webkit-box-shadow:0px 0px 0.5px 3px #efefef; -moz-box-shadow:0px 0px 0.5px 3px #efefef; box-shadow: 0px 0px 0.5px 3px #efefef;}
.radio-inline:hover{
	background: #cef;
    color: #fff;}
#slide-5 input[type="radio"]{
    display:none}
#slide-5 .time-mins {
    font-size:60%;
    top:-5pt;
}

#nadislaty-btn {
	display: block;
	margin: 0 auto;
	left:0; right:0;
    padding: 11px 28px 11px 28px;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    font-weight:700;
    letter-spacing: 0.5pt;
    font-family: "Roboto Slab";
    -webkit-transition: .2s all;-o-transition: .2s all;
        transition: .2s all;
    border-radius: 30px;
    color: #ffffff;
    border: 0px;
    box-shadow: 0px 2px 7px 0.00px rgba(6, 71, 101, 0.26);
    background: -webkit-linear-gradient(90deg, #09affb 0%,  #80d8fd 100%); 
        background: -moz-linear-gradient(90deg, #09affb 0%,  #80d8fd 100%); 
        background: -o-linear-gradient(90deg, #09affb 0%,  #80d8fd 100%); background: -ms-linear-gradient(90deg, #09affb 0%,  #80d8fd 100%); 
        background: linear-gradient(0deg, #09affb 0%,  #80d8fd 100%);}
#nadislaty-btn:hover,
#nadislaty-btn:focus{
     box-shadow: 0px 2px 43px 0.00px rgba(6, 71, 101, 0.43);
   text-decoration: none;
    outline:none;}
#nadislaty-btn:active{
   text-decoration: none; 
}

/*ФУТЕР, можна тут реалізувати вікно зв-язку*/

#slide-6 {
    z-index:1;
    margin:0px 100px;
    width:150%;
    left:-31%;
    background-color: #222;
    padding-top: 100px;

    background-image: url(../images/eco-woda-footer_screenshot.jpg);
    background-repeat: no-repeat;
    background-position:top;
    background-size: 1457px 306px;
    min-height:306px;
    color:black;
    font-size:0.5px;
}


@media (max-width: 767px) {
	#slide-6 {background-size: 50%;
	}
}
	
	#slide-6 .line-row .hr {
		background-color: #4e4e4e;
		color: #4e4e4e;
	}

	#slide-6 a {
		color: inherit;
		outline: none;
		text-decoration: none;
	}

@media (max-width: 767px) {
	.with-hover-text{
		margin-bottom: 2em;
		margin-top: 1em;
	}
}
	
	#contact-row-4 {
		padding-top: 125px;
	}
	
	#contact-row-4 .col-12 {
		height: 175px;
		overflow: hidden;
		padding-top: 20px;
		transition: all ease-in .5s;
	}
	
	#contact-row-4 img {
		display: block;
		margin: 0 auto;
		max-height: 100%;
		max-width: 100%;
	}
	
	#contact-row-4 .col-12:hover {
		height: 175px;
		padding-top: 0;
	}
	
	#contact-row-4 .col-12 .hover-text {
		display: none;
		font-size: 20px;
	}

#slide-7 {
	background-color: #e4e6e5;
	color: #4e4e4e;
	font-size: 35px;
	line-height: 50px;
	text-align: center;
}

#lightbox-out {
	background-color: rgba( 0, 0, 0, 0.7 );
	height: 100%;
	position: fixed;
	width: 100%;
/*	z-index: 99999;*/
}

.with-hover-text span {
	display: none;
}
